/* Легкий */
/* @font-face {
  font-family: "Montserrat";
  font-weight: 300;
  src: url("./Montserrat-Light.ttf");
} */

/* Средний */
/* @font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: url("./Montserrat-Medium.ttf");
} */
/* Жирный */
/* @font-face {
  font-family: "Montserrat";
  font-weight: 700;
  letter-spacing: -0.25px;
  src: url("./Montserrat-Bold.ttf");
} */

/* @font-face {
  font-family: "Montserrat";
  font-weight: 400;
  letter-spacing: -0.25px;
  src: url("./Montserrat-Regular.ttf");
} */
